@model Garage3.Models.ParkedVehicle

@{
    ViewData["Title"] = "Create";
}

<h1>Park your Vehicle</h1>

<h4>Fill in the required details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Member.FullName" class="control-label"></label>
                <select asp-for="Member.FullName" class="form-control" asp-items="ViewBag.MemberID"></select>
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VehicleType.VehicleType" class="control-label"></label>
                <select asp-for="VehicleType.VehicleType" class="form-control" asp-items="ViewBag.VehicleTypeID"></select>
            </div>

            <div class="form-group">
                <label asp-for="RegNum" class="control-label"></label>
                <input asp-for="RegNum" class="form-control" />
                <span asp-validation-for="RegNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Make" class="control-label"></label>
                <input asp-for="Make" class="form-control" />
                <span asp-validation-for="Make" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="CHECK IN VEHICLE" class="viewBtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="viewBtn" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
