@model Garage3.Models.ViewModels.MemberViewModel

@{
    ViewData["Title"] = "Search Member";
}

<h1>Search Member by Name</h1>

<form asp-action="FilterMembers">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="SearchString" placeholder="Search Member by Name..." />

        <div class="input-group-append ml-1">
            <button type="submit" class="viewBtn"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>
<a class="viewBtn" asp-action="RegisterMember">Register Member</a>
<partial name="MemberListPartial" model="@Model.MemberList" />
