@model Garage3.Models.ViewModels.RegisterMemberViewModel

@{
    ViewData["Title"] = "Register a Member";
}

<div class="container myMargin">
    <h1>Register Member</h1>

    <div class="row">
        <div class="col-md-4">
            <form asp-action="RegisterMember">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PhoneNum" class="control-label"></label>
                    <input asp-for="PhoneNum" class="form-control" />
                    <span asp-validation-for="PhoneNum" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Register Member" class="viewBtn" />
                </div>
            </form>
        </div>
    </div>
    <br /><br />
    <div>
        <a class="viewBtn" asp-action="CheckInVehicle">Park your Vehicle</a>
    </div>
    <br />
    <div>
        <a class="viewBtn" asp-action="Index2">Search for a Member</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
